<div class="admin-panel__content">
    <div class="row">
        <div class="col-md-12">
            <div class="section-header">
                <h1>Add City</h1>
            </div>

        <form class="form-horizontal" method="post" action="add-city.php">
            <?php if(isset($errorMessage) && count($errorMessage)>0){?>

            <div class="alert alert-danger alert-dismissable" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <?php

                    foreach($errorMessage as $error){

                    echo $error.'<br>';

                }}?>

            </div>

            <div class="form-group">
                <label for="city" class="col-sm-3 control-label">city</label>
                <div class="col-sm-9">
                    <input type="text"
                           class="form-control"
                           id="city"
                           placeholder="city"
                           name="city">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" class="btn btn-success"><i class="fa fa-user"></i> Add City</button>
                </div>
            </div>
        </form>
    </div>
</div>
</div>