<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Website CSS style -->
    <!-- FontAwesome -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


    <!-- Style -->
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

    <title>Restaurant</title>
</head>
<body>

<div class="container-fluid">
    <div class="row main">
        <div class="main-login main-center">
            <form class="form-group" method="get" action="index.php">

                <select class="col-md-12" name="category">
                    <option value="selected" selected>choose category</option>

                    <?php foreach($categories as $category){
                             $id = $category['id'];
                             $categoeyName = $category['category_name'];
                            ?>
                    <option value="<?php echo $id;?>"><?php echo $categoeyName;?></option>
                    <?php } ?>

                </select>

                <select class="col-md-12">
                    <option value="selected" selected>choose Restaurant</option>
                    <?php foreach($restaurants as $restaurant){
                             $id = $restaurant['id'];
                             $restaurantName = $restaurant['restaurant_name'];
                            ?>
                    <option value="<?php echo $id;?>"><?php echo $restaurantName;?></option>
                    <?php } ?>

                </select>

                <select class="col-md-12" name="city">
                    <option value="selected" selected>choose City</option>

                    <?php foreach($cities as $city){
                             $id = $city['id'];
                             $city = $city['city'];
                            ?>
                    <option value="<?php echo $id;?>"><?php echo $city;?></option>
                    <?php } ?>
                </select>

                <select class="col-md-12" name="time">
                    <option value="selected" selected>choose Time</option>
                    <?php foreach($times as $time){
                             $id = $time['id'];
                             $time = $time['time'];
                            ?>
                    <option value="<?php echo $id;?>"><?php echo $time;?></option>
                    <?php } ?>
                </select>


                <div class="form-group ">
                    <input type="submit" id="button" class="btn btn-primary btn-lg btn-block login-button" value="Search">
                </div>

            </form>
        </div>
    </div>
</div>

<div class="container">
    <h2>The Restaurant Information</h2>

    <table class="table">
        <thead>
        <tr>
            <th>Restaurant Name</th>
            <th>Restaurant Description</th>
            <th>Discount Card Name</th>
            <th>Discount Card Value</th>
        </tr>
        </thead>

        <tbody>


      <tr>
          <?php

           if(is_array($newResults) && count($newResults)>0){?>

            <?php foreach($newResults as $result){

            $rName = $result['restaurant_name'];
            $rDes = $result['restaurant_describtion'];
            $rCard = $result['card_name'];
            $rCardValue = $result['card_value'];
            ?>

            <td><?php echo $rName;?></td>
            <td><?php echo $rDes;?></td>
            <td><?php echo $rCard;?></td>
            <td><?php echo $rCardValue;?></td>
        <?php }?>
        <?php }?>

        </tr>


        </tbody>
    </table>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>