<html>

<head></head>

<body>

<form method="get" action="index.php">


    <select name="city">

        <option value="1">cairo</option>
        <option value="2">giza</option>
        <option value="3">zgazeg</option>

    </select>

    <select name="category">
        <option value="1">fast food</option>
        <option value="2">local food</option>
        <option value="3">healthy food </option>
    </select>

    <select name="time">

        <option value="1">12</option>
        <option value="2">5</option>
        <option value="3">8 </option>

    </select>

    <select name="restaurant">

        <option value="1">om Hassan</option>
        <option value="2">kfc</option>
        <option value="3">mac</option>

    </select>

    <input type="submit" value="search">


</form>



</body>



</html>